.interest-links{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin-top: 35px;
    border-top: 3px solid black;
    border-bottom: 1px solid lightgray;
    justify-items: end;
    font-size: 12px;
}
.interest-links>div{
    height: 130px; 
    width: 250px ;
    margin-right: 25px;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "photo headline";
   
}
.interest-bar__image{
    grid-area: photo;
    justify-items: center;
    align-items: center;
    height: auto;
    width: auto;
}

.interest-bar__headline{
    align-self: flex-start;
    grid-area: headline;
    justify-items:flex-end ;
    align-items: center;
    line-height: 12px;

}
ul{
    display: grid;
    font-size :17px;
    justify-self: center;
    align-self: center;
}
li{
    font-weight: bold;
    line-height: 45px;
}