.masthead{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
    "menu_and_search . action_buttons"
    " . little_tech . "
    "date logo tpaper";
    border-bottom: 1px solid lightgray;
}
.masthead__menu-and-search{
    grid-area: menu_and_search;
    display: flex;
    padding-left: 20px;
}
.menu{
    font-size:11px;
    padding: 7px 9px;
}
.search{
    font-size:11px;
    padding: 7px 9px;
}
.search:hover{
    background-color: lightgray;
}
.menu:hover{
    background-color: lightgray;
}
.masthead__date{
    grid-area: date;
    display: flex;
    align-items: flex-end;
    font-size: 11px;
    border-top: 1px solid lightgray;
}
.masthead__actions{
    grid-area: action_buttons;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.masthead__technologies{
    grid-area: little_tech;
    border-top: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
    display: flex;
    justify-content: center;
}
.masthead__paper{
    grid-area: tpaper;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 11px;
    border-top: 1px solid lightgray;
}
.masthead__logo{
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 10px 0px;
}
.tech{
    text-transform: uppercase;
    color:darkgray;
    font-size: 10px;
}
.tech>span{
    margin-right: 3px;
}